CORS_ORIGIN=
ORIGIN_ADDRESS_PK=ad5d8341383d4257821a8b02e2332439b914c56df0ab6334f6ac91a77cda3e2c4
XEM_AMOUNT=2
POLL_ADDRESS=NAYQP2H3ITPPRZRRQVRNYOQD4ITUXBDIHOKUVJ3L
GRAPHQL_ENGINE=service:mbc-voting:8qAAb_9Vdt5Xqa7sf-VA
GRAPHQL_URL=http://localhost:4000/graphql
GRAPHQL_URL_WS=ws://localhost:4000/graphql
MAILCHIMP_LIST=dbc321sdfff
MAILCHIMP_API_KEY=f1a363442947b90d4eee1087ddb6505d-us14
VALID_NEM_ADDRESS_PREFIX=T
SHOW_VOTING_MENUS=1
